.form-wrapper {
    width: 100%;
    background-color: white;
    padding: 5rem 5rem;
    margin-top: 5rem;

    & .form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;



        & .input {
            width: 43%;

            & label {
                color: $text-black;
                font-size: 1.4rem;
            }

            & select {
                padding: 0.5rem;
                border: $border-black;
                border-radius: calc($border-radius / 2);
                height: 3.5rem;
                width: 100%;
                outline: none;
                font-size: 1.4rem;
                background-color: $white-color;
                color: black;
                font-weight: 400;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 1rem 1rem;
                gap: 2rem;
            }

            & textarea {
                border: $border-black;
                border-radius: calc($border-radius / 2);
                width: 100%;
                outline: none;
                font-size: 1.4rem;
                background-color: $white-color;
                color: black;
                font-weight: 400;
                padding: 1rem 1rem;
                height: 10rem;
                resize: none;
                margin-top:.5rem;


                &::-webkit-resizer {
                    appearance: none;
                }

                &:focus {
                    border: $border-primary;
                }
            }
        }
    }


}