@import './notifications/notification';
@import './manageplan/manageplan';
@import './paymentgateway/payment';
@import './faq/faq';
@import './notifications/notification';



// Add Entry

.form-wrapper {
    width: 100%;
    background-color: white;
    padding: 5rem 5rem;
    margin-top: 5rem;
    border: 2px solid $lightborder-color;
    border-radius:8px;

    & .form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;



        & .input {
            width: 45%;

            
            & label {
                color: $text-black;
                font-size: 1.4rem;
            }

            & select {
                border: $border-black;
                border-radius: calc($border-radius / 2);
                height: 4rem;
                width: 100%;
                outline: none;
                font-size: 1.4rem;
                background-color: $white-color;
                color: black;
                font-weight: 400;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 1rem 1rem;
                gap: 2rem;
                margin-top:.5rem;
            }

            & textarea {
                border: $border-black;
                border-radius: calc($border-radius / 2);
                outline: none;
                font-size: 1.4rem;
                background-color: $white-color;
                color: black;
                font-weight: 400;
                padding: 1rem 1rem;
                resize: none;
                margin-top: .5rem;


                &::-webkit-resizer {
                    appearance: none;
                }

                &:focus {
                    border: $border-primary;
                }
            }
        }

        & .textarea{
            width: 100%;
        }
        & .btn-wrapper{
            width: 100%;
            & .form-btn{
                background-color: $primary-color;
                color: white;
                width: 40%;
                margin: 0 auto;


            }
        }
    }


}