$primary-color: #0b005a;
$secondary-color: #f58314;
$alpha-primary-color: #cc0177;
$white-color: #ffffff;
$black-color: #333333;
$background-color: #f6f6f6;
$lightborder-color:#57575718;
$error-color: #ff6b6b;
$success-color: #4bb64b;
$warning-color: #daba4b;

$border-radius: 8px;
$text-white: rgba(
  $color: $white-color,
  $alpha: 0.7,
);
$text-black: rgba(
  $color: $black-color,
  $alpha: 0.7,
);
$text-primary: rgba(
  $color: $primary-color,
  $alpha: 0.7,
);
$text-error: rgba(
  $color: $error-color,
  $alpha: 0.7,
);
$text-success: rgba(
  $color: $success-color,
  $alpha: 0.7,
);
$text-warning: rgba(
  $color: $warning-color,
  $alpha: 0.7,
);

$border: 0.5px solid #e8e8e8;
$border-dashed: 0.5px dashed #33333337;
$border-black: 0.8px solid #33333337;
$border-error: 0.5px solid $error-color;
$border-success: 0.5px solid $success-color;
$border-primary: 0.5px solid $primary-color;
$box-shadow: 0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
  0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
  0px 7px 14px 0px rgba(0, 0, 0, 0.05);

a {
  color: inherit;
  text-decoration: none;
}

.framecontainer {
  background-color:$background-color;
  display: flex;
  justify-content: space-between;
  
  &-content {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.Toastify__toast-container {
  .Toastify__toast {
    background-color: $white-color;
    border: $border;
    box-shadow: none;
    color: $text-black;
  }
  .Toastify__close-button {
    color: $text-black;
  }
}

//!Jodit
.jodit {
  border: $border !important;
  &-toolbar__box {
    border-color: transparent !important;
  }

  &-icon {
    color: $text-black !important;
  }
}
.jodit-container {
  background-color: transparent !important;

  &.error {
    border: $border-error !important;
  }
}
.jodit_theme_light {
  .jodit-add-new-line {
    display: none !important;
  }
}
.jodit_theme_dark {
  .jodit-ui-separator {
    display: none;
  }
  .jodit-toolbar__box {
    background-color: $white-color;
  }
  .jodit-wysiwyg {
    background-color: $white-color;
    color: $text-black;
  }
  .jodit-add-new-line {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem !important;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem !important;
  background: #117cc427;
}
::-webkit-scrollbar-thumb:hover {
  background: #117cc44b;
}


@media screen and (max-width: 1100px) {
  .sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
  }

  .framecontainer {
    
    &-content {
      margin-left:50px;
    }
  }

 
}