.vcdata-title {
    margin-top: 3rem;
    color: $primary-color;
    font-size: 2.2rem;
}

.table-wrapper-top {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;



    & .icon {
        font-size: 3.4rem;
        color: $primary-color;
    }

    & .add-btn {
        padding: .8rem 1rem;
        border-radius: .3rem;
        border: none;
        background-color: transparent;
        color: green;
        font-size: 1.3rem;
        font-weight: 500;
        transition: .2s;
        border: 1.5px solid green;
        cursor: pointer;
        box-shadow: $box-shadow;

        &:hover {
            color: $success-color;
            border: $border-success;
        }
    }
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    //    min-height: 50vh;

    & .bttn {
        padding: .5rem 1rem;
        border-radius: .3rem;
        background-color: transparent;
        font-size: 1.3rem;
        font-weight: 500;
        transition: .2s;
        cursor: pointer;
        margin: 0 .5rem;
    }

    & .edit-btn {
        border: $border-primary;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }

    & .delete-btn {
        border: $border-error;
        color: $error-color;

        &:hover {
            background-color: $error-color;
            color: white;
        }
    }


    &-table {
        width: 100%;
        background-color: white;
        overflow-x: auto;
        height: 100%;
        font-size: 1.4rem;

        & thead {
            background-color: $primary-color;
            height: 4rem;
            color: white;

            


            & th {
                margin: 0;
                padding: 0 1rem;
                white-space: nowrap;
                text-transform: capitalize;
                border: 1px solid rgb(77, 77, 77);

            }
            

        }

        & tr {

            & td {
                text-align: center;
                padding: 0rem 1rem;
                height: 5rem;
                white-space: nowrap;
                border: 1px solid $primary-color;



                & .daysleft {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    font-weight: 500;
                }


                & .start {
                    & .left {
                        color: $primary-color;
                    }

                    & .today {
                        color: green;
                    }

                    & .finish {
                        color: red;
                    }
                }

                & .end {
                    & .left {
                        color: $primary-color;
                    }

                    & .today {
                        color: red;
                    }

                    & .finish {
                        color: red;
                    }
                }



            }



            & .notfound {
                text-align: left;
                padding: 0 1rem;
            }

            & .desc {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 20rem;
                

            }

            & a {
                color: $primary-color;
                text-decoration: underline;
            }

            & .managecandidate {

                & .view-all {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                    border: none;
                    background-color: white;
                    color: $primary-color;
                    cursor: pointer;
                    margin-top: .5rem;
                    border: 1px solid $primary-color;
                    transition: .3s;

                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
            }

            & .image {

                & img {
                    height: 4rem;
                    width: 6rem;
                    object-fit: contain;
                    border-radius: .5rem;
                    margin: 0 auto;
                }
            }

        }




    }

}

// @media screen and (max-width:1100px) {
//     .table-wrapper-table {
//         width: 100%;
//         white-space: wrap;
//         background-color: white;
//         overflow-x: auto;
//         height: 100%;
//         display: flex;

//         & tr {
//             display: flex;
//             flex-direction: column;
//         }

//         & thead {

//             height: fit-content !important;
//         }

//         & tbody {
//             display: flex;
//             height: fit-content !important;
//         }

//         & td,
//         & th {
//             text-align: left;
//             border-right: $border;
//             padding: 1rem 1rem !important;
//             min-height: 5rem;
//             font-size: 1.5rem;
//         }
//     }

// }