.faq-page {
    width: 100%;
    padding-bottom: 2rem;
   

    & .add-qa {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 0;
        border-bottom: $border;

        & .add-qa-input{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        & p {
            color: $black-color;

        }
    }

    & .display-faq{
        padding: 3rem 0;

        & .faq-lists{
            display: flex;
            flex-direction: column;
            background-color: $lightborder-color;
            padding: 2rem 2rem;
            border-radius: 1rem;

            & li{
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 2rem 0 ;
                border-bottom: 1px solid $black-color;

                & .question-wrapper{
                    display: flex;
                    justify-content: space-between;

                    & .question{
                        font-size: 2.2rem;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                    }
                    & .del-icon{
                        font-size: 2.4rem;
                        color: $error-color;
                        cursor: pointer;
                    }
                }

                
                & .answer{
                    font-size: 1.6rem;
                   font-weight: 400;
                   color: $black-color;
                   line-height: 2.5rem;
                }
            }
        }
    }
}